Parkfiles
logs
ClinVar_Search/modules/__pycache__
examples
.vscode
tests/__pycache__


clinvar_query/__pycache__
clinvar_query/modules/__pycache__
Clinvar_Search_Output_Files
Clinvar_Search.egg-info
clinvar_query/ClinVar_Site/database_folder
clinvar_query/ClinVar_Site/error_folder
clinvar_query/ClinVar_Site/processed_folder
clinvar_query/ClinVar_Site/upload_folder
.pytest_cache
clinvar_query/ClinVar_Site/routes/__pycache__
clinvar_query/utils/__pycache__
clinvar_query/ClinVar_Site/__pycache__
clinvar_query/instance

tests/__pycache__
__pycache__/
*.pyc