Parkfiles
Clinvar_Search.egg-info
ClinVar_Search/__pycache__
logs
Clinvar_Search_Output_Files
ClinVar_Search/modules/__pycache__
examples
ClinVar_Search/ClinVar_Site/Clinvar_Search_Outputs
ClinVar_Search/ClinVar_Site/Clinvar_Uploads
.vscode
tests/__pycache__
ClinVar_Search/ClinVar_Site/secret.py
tests/test_files
ClinVar_Search/ClinVar_Site/Clinvar_Error_Outputs
ClinVar_Search/ClinVar_Site/oldapp.py
tests/test_parser.py
