Parkfiles
logs
ClinVar_Search/modules/__pycache__
examples
.vscode
tests/__pycache__

tests/test_files

clinvar_query/__pycache__
clinvar_query/modules/__pycache__
Clinvar_Search_Output_Files
Clinvar_Search.egg-info
clinvar_query/ClinVar_Site/Clinvar_Database_folder
clinvar_query/ClinVar_Site/Clinvar_Error_Outputs
clinvar_query/ClinVar_Site/clinvar_Search_Outputs
clinvar_query/ClinVar_Site/Clinvar_Uploads
.pytest_cache



